/* Хто? {
    властивість: значення;
    що?: як?;
} */


/* селектори тега (елемента) */
header {
    /* властивість: значення; */
    background-color: cornflowerblue;
    padding: 20px 0;
}

section {
    background-color: cadetblue;
}

/* селектори класу */
.first-section {
    background-color: coral;
}

/* селектор ідентифікатора */
#main {
    background-color: #cecece;
}

/* дочірні селектори / children selectors */
header p {
    text-transform: uppercase;
}

header div p {
    color: yellow;
}

.first-section h1 {
    font-size: 46px;
}

#main h2 {
    color: blue;
}

/* селектор нащадка */
header > p {
    color: red;
}

/* групові селектори */
header, main, footer {
    width: 1200px;
    margin: 0 auto;
}

/* сусідній селектор */
hr + article {
    background-color: mediumslateblue;
}

/* споріднений селектор */
article ~ hr {
    height: 6px;
    background-color: #333;
}

/* селектор атрибута */
a[href] {
    background: green;
}

a[href^=tel] {
    background-color: yellow;
}